[submodule "baxter/baxter_interface"]
	path = baxter/baxter_interface
	url = https://github.com/RethinkRobotics/baxter_interface.git
[submodule "baxter/baxter_tools"]
	path = baxter/baxter_tools
	url = https://github.com/RethinkRobotics/baxter_tools.git
[submodule "baxter/baxter_pykdl"]
	path = baxter/baxter_pykdl
	url = https://github.com/RethinkRobotics/baxter_pykdl.git
[submodule "baxter/baxter_common"]
	path = baxter/baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
[submodule "baxter/baxter_examples"]
	path = baxter/baxter_examples
	url = https://github.com/RethinkRobotics/baxter_examples.git
[submodule "baxter/baxter"]
	path = baxter/baxter
	url = https://github.com/RethinkRobotics/baxter.git
[submodule "baxter/baxter_demo_ui"]
	path = baxter/baxter_demo_ui
	url = https://github.com/RethinkRobotics/baxter_demo_ui.git
[submodule "baxter/baxter_custom_ikfast"]
	path = baxter/baxter_custom_ikfast
	url = https://github.com/RethinkRobotics/baxter_custom_ikfast.git
[submodule "baxter/moveit_robots"]
	path = baxter/moveit_robots
	url = https://github.com/ros-planning/moveit_robots.git
