[submodule "baxter/baxter_interface"]
	path = baxter/baxter_interface
	url = https://github.com/RethinkRobotics/baxter_interface.git
[submodule "baxter/baxter_tools"]
	path = baxter/baxter_tools
	url = https://github.com/RethinkRobotics/baxter_tools.git
[submodule "baxter/baxter_pykdl"]
	path = baxter/baxter_pykdl
	url = https://github.com/RethinkRobotics/baxter_pykdl.git
[submodule "baxter/baxter_common"]
	path = baxter/baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
[submodule "baxter/baxter_examples"]
	path = baxter/baxter_examples
	url = https://github.com/RethinkRobotics/baxter_examples.git
[submodule "baxter/baxter"]
	path = baxter/baxter
	url = https://github.com/RethinkRobotics/baxter.git
[submodule "baxter/baxter_demo_ui"]
	path = baxter/baxter_demo_ui
	url = https://github.com/RethinkRobotics/baxter_demo_ui.git
[submodule "baxter/baxter_custom_ikfast"]
	path = baxter/baxter_custom_ikfast
	url = https://github.com/RethinkRobotics/baxter_custom_ikfast.git
[submodule "baxter/moveit_robots"]
	path = baxter/moveit_robots
	url = https://github.com/ros-planning/moveit_robots.git
[submodule "turtlebot2/turtlebot_simulator"]
	path = turtlebot2/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator.git
[submodule "turtlebot2/turtlebot"]
	path = turtlebot2/turtlebot
	url = https://github.com/turtlebot/turtlebot.git
[submodule "turtlebot2/turtlebot_apps"]
	path = turtlebot2/turtlebot_apps
	url = https://github.com/turtlebot/turtlebot_apps.git
[submodule "turtlebot2/turtlebot_msgs"]
	path = turtlebot2/turtlebot_msgs
	url = https://github.com/turtlebot/turtlebot_msgs.git
[submodule "turtlebot2/turtlebot_interactions"]
	path = turtlebot2/turtlebot_interactions
	url = https://github.com/turtlebot/turtlebot_interactions.git
[submodule "turtlebot2/robot_pose_ekf"]
	path = turtlebot2/robot_pose_ekf
	url = https://github.com/udacity/robot_pose_ekf
[submodule "turtlebot2/depthimage_to_laserscan"]
	path = turtlebot2/depthimage_to_laserscan
	url = https://github.com/ros-perception/depthimage_to_laserscan.git
[submodule "turtlebot2/kobuki_msgs"]
	path = turtlebot2/kobuki_msgs
	url = https://github.com/yujinrobot/kobuki_msgs.git
[submodule "turtlebot2/orocos-bayesian-filtering"]
	path = turtlebot2/orocos-bayesian-filtering
	url = https://github.com/toeklk/orocos-bayesian-filtering.git
[submodule "turtlebot2/kobuki"]
	path = turtlebot2/kobuki
	url = https://github.com/yujinrobot/kobuki.git
	branch = melodic
[submodule "turtlebot2/yujin_ocs"]
	path = turtlebot2/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
[submodule "turtlebot2/kobuki_desktop"]
	path = turtlebot2/kobuki_desktop
	url = https://github.com/yujinrobot/kobuki_desktop.git
